* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/wall.jpg);
    background-size: 100%;
    background-position: center;
}

body {
    margin: 0;
}

.logo {
    height: 7em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.a {
    list-style-type: square;
}

/* Style the header */

header {
    display: flex;
    align-items: center;
}

header nav {
    flex: 1;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
}

header nav li {
    list-style-type: none;
    padding: 1em;
    color: white
}

main {
    min-height: 30vh;
    padding: 4vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#main1 {
    flex: 2;
    background-color: rgba(128, 128, 128, 0.73);
}

#main2 {
    flex: 4;
    background-color: rgba(128, 128, 128, 0.73);
}

#main3 {

    flex: 2;
    background-color: rgba(128, 128, 128, 0.73);
}

.header {
    background-image: url("../images/purp.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
    text-align: center;

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #555;
}

footer nav ul {
    display: flex;
}

footer nav li {
    list-style-type: none;
    font-size: .75em;
    padding: 1em;
}

/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;

}

/* Left and right column */

.column.side {
    width: 20%;
    background-color: rgba(224, 222, 235, 0.65);
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

/* Middle column */

.column.middle {
    width: 50%;
    background-color: rgba(224, 222, 235, 0.65);
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    text-align: center;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    color: #0341e6;
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
}

.one {
    background-color: rgba(224, 222, 235, 0.65);
    width: 45%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 2px;
    float: left;
}

.two {
    width: 45%;
    background-color: rgba(224, 222, 235, 0.65);
    border: 2px solid black;
    border-radius: 25px;
    padding: 2px;
    margin: 2px;
    float: right;
}

.pics {
    border: 1px;
    border-style: solid;
    box-shadow: 5px 5px;
}

.ken {
    width: 45%;
    background-color: rgba(224, 222, 235, 0.65);
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    float: left;
}

#dan {
    width: 70%;
}

#zane {
    width: 40%;
}

#josh {
    width: 50%;
}

#eddy {
    width: 60%;
}

#kenny {
    width: 75%;
}

#show {
    width: 60%;
}

#montage {
    width: 100%;
}

#bc {
    width: 70%;
    border-radius: 25%;
}

#sidepic {
    width: 100%;
    border-radius: 15%;
}

h2a {
    color: black;
}

@media screen and (max-width: 40rem) {
    .main1,
    .main2,
    .main3,
    header,
    main,
    footer {
        flex-direction: column;
    }
}
